.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 3vh;
}
.navbar h1{
    color: rgb(22, 188, 16);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

}

.input-file{
    margin: 2rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10% 25% 10% 25%;
    box-shadow: 10px 5px 5px black;
}