body {
    font-family: Arial, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 20px auto;
    border: 1px solid black;
}
.navbar{
    grid-column: 2/4;
    background-color: black;
    font-size: 3vh;
    width: 55vw;
    border-radius: 10% 25% 10% 25%;
}
.navbar h1{
    text-align: center;
    color: rgb(22, 188, 16);
}

.file-scanner{
    grid-column: 2/4;
    grid-row: 3/4;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}
