<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Antivirus</title>
</head>
<body>

<div class="container">
    <div class="navbar">
        <h1>Antivirus</h1>
    </div>
    <div class="file-scanner">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="file" accept=".txt, .pdf, .docx">
        <button type="button" onclick="getData()">Scan File</button>
        <div id="file-info"></div>
        <div id="file-content"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>

</script>
</body>
</html>
