<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Antivirus</title>
</head>
<body>

<nav>
    <div class="navbar">
        <h1>Antivirus</h1>
    </div>
</nav>

<div class="container">
    <div id="input-file">
        <input type="file" id="fileInput">
    </div>
</div>
</body>
</html>

<script>
    const fileInput = document.getElementById('fileInput');

    fileInput.addEventListener('change', function() {
        const selectedFile = fileInput.files[0];

        console.log('Nazwa pliku:', selectedFile.name);
        console.log('Typ pliku:', selectedFile.type);
        console.log('Rozmiar pliku:', selectedFile.size, 'bajtów');
    });
</script>
